*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.inter{
  font-family: "inter", sans-serif;
}
  
/* common code stard */
.nav-container,
.banner-containe,
.notes-container,
.brain-container,
.early-container{
    
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
 .btn{
    background-color: #469165;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;

 }
 .btn:hover{
     background-color: transparent;
     color: #469165;
     border: 1px solid #469165;;
 }
 .h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

/* end */
/* nav section */
.nav-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}
/* benner section */
#banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0 140px;
}
.banner-container{
   
    text-align: center;
    display: flex;
    flex-direction: column;
}
.banner-container #h5{
   background-color: #fff;
   text-align: center;
   width: 230px;
   margin: 0 auto 16px;
   padding: 8px 12px;
   border-radius: 20px;
   color: #469165;
   display: flex;
   gap: 8px;

}
.banner-container h1{
   
    font-size: 72px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-container h1 span{
    color:#30B868;
}
.banner-container p{
    font-size: 18px;
    color: #fff;
    margin-bottom:24px ;
}
#btn{
   background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: 16px;
    cursor: pointer;
    transition: 0.5s;
}
#btn:hover{
    background-color: #469165;
    border:none;

}
.banner-container button .fa-arrow-right{
    margin-left: 10px;
}
.banner-container button .fa-play{
    margin-right: 10px;
}
/* notes section */
#notes{
    padding-top: 50px;
}
.notes-container{
   
    text-align: center;
}

.notes-container .hedding p{
    color: #627382;
}
.hedding{
    margin-bottom: 44px;
}
.notes-container .notes-box{
    display: flex;
    gap:24px ;
}
.notes-container .notes-box .notes-card{
   
    padding: 24px;
    max-width: 322px;
    box-shadow: 0 4px 4px #00000025 ;
}
.notes-box .notes-card .icon{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 65px auto 16px;
    display: flex;
    padding: 14px;
}
.notes-box .notes-card .icon img{
    width: 32px;
    height: 32px;
}
.notes-card h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 14px;
}
.notes-card p{
    color: #627382;
    line-height: 20px;
}
/* brain section */
#brain-Section{
    padding: 120px 0;
}
.brain-container{
    display: flex;
    align-items: center;
    gap: 60px;

}
.brain-container .brain-content .brain-title p{
    color: #627382;
    line-height: 20px;
}
.brain-container .brain-content #c-title{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.brain-title{
    margin-bottom: 40px;
}

.content .chack-mark{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}
/* early access */

#early-access{
    padding-bottom: 120px;
}
.early-container{
    background: #F7F6F2;
    text-align: center;
    padding: 80px 40px;
    border-radius: 12px;
}
.early-container p{
    color: #627382;
    line-height: 20px;

}
.early-title{
    margin-bottom: 24px;
}
.early-container button{
    margin-bottom: 16px;
    
}

