*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.inter{
  font-family: "inter", sans-serif;
}
  
/* common code stard */
.nav-container{
    
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
 .btn{
    background-color: #469165;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;

 }

/* end */

.nav-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 16px 0;
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}