*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.inter{
  font-family: "inter", sans-serif;
}
  
/* common code stard */
.nav-container,
.banner-container{
    
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
 .btn{
    background-color: #469165;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    cursor:pointer;

 }

/* end */
/* nav section */
.nav-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}
/* benner section */
#banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0 140px;
}
.banner-container{
   
    text-align: center;
    display: flex;
    flex-direction: column;
}
.banner-container #h5{
   background-color: #fff;
   text-align: center;
   width: 230px;
   margin: 0 auto 16px;
   padding: 8px 12px;
   border-radius: 20px;
   color: #469165;
   display: flex;
   gap: 8px;

}
.banner-container h1{
   
    font-size: 72px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-container h1 span{
    color:#30B868;
}
.banner-container p{
    font-size: 18px;
    color: #fff;
    margin-bottom:24px ;
}
#btn{
   background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left: 16px;
    cursor: pointer;
}
.banner-container button .fa-arrow-right{
    margin-left: 10px;
}
.banner-container button .fa-play{
    margin-right: 10px;
}
 
